<div class="container">
    <h2>Flaps</h2>
    <div class="col">
        <div class="row my-3">
            <div class="col">
                <h3>Flap Bottle:</h3>
            </div>
            <div class="col">
                <button [disabled]="btnDisabled" class="btn btn-primary"  (click)="flapBottle()">Trigger</button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h3>Flap Can:</h3>
            </div>
            <div class="col">
                <button [disabled]="btnDisabled" class="btn btn-primary" (click)="flapCan()">Trigger</button>
            </div>
        </div>
    
    </div>
</div>