<div class="container">
    <h2>Polybags</h2>

    <div class="row my-3">
        <div class="col">
            <h3>Bypass Polybags:</h3>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <button [disabled]="offDisabled" class="btn btn-danger" (click)="byPass()">OFF</button>
                </div>
                <div class="col">
                    <button [disabled]="onDisabled" class="btn btn-success" (click)="removeByPass()">ON</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <h3>Polybags Sensor Detection:</h3>
        </div>
        <div class="col">
           <div class="bg-danger" style="color: white; text-align: center;" *ngIf="!sensorStatus">No Polybags Detected</div>
           <div style="background-color: green; color: white; text-align: center;" *ngIf="sensorStatus">Polybags Detected</div>
        </div>
    </div>

</div>
