img{
    height: 771px;
    margin-top: auto !important;
    margin-bottom: auto !important;
    border-radius: 40px;
    border: 1px solid black;
    background-color: white;
}

.my-container{
    min-height: 90vh !important;
    display: flex;
    justify-content: center;
}