<div class="container">
    <h2>Password Reset</h2>

    <form>
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <div class="row">
                <div class="col">
                    <input type="number" disabled id="oldPassword" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone:true}" class="form-control">
                </div>
                <div class="col">
                    <fa-icon [icon]="faEdit" style="color: {{oldColor}};" (click)="editOld()"></fa-icon>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <div class="row">
                <div class="col">            
                    <input type="number" disabled id="newPassword" [(ngModel)]="newPassword" [ngModelOptions]="{standalone:true}" class="form-control">
                </div>
                <div class="col">
                    <div class="col">
                        <fa-icon [icon]="faEdit" style="color:{{newColor}};" (click)="editNew()"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-3" (click)="changePassword()">Change Password</button>
    </form>

</div>

<div class="container">
    <div class="row keyPad">
        <div class="col">
            <div class="row row-margin">
                <div class="col text-center">
                    <button (click)="numPressed('1')" class="numpadButton">
                       1
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('2')" class="numpadButton">
                        2
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('3')" class="numpadButton">
                        3
                    </button>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col text-center">
                    <button (click)="numPressed('4')" class="numpadButton">
                       4
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('5')" class="numpadButton">
                        5
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('6')" class="numpadButton">
                        6
                    </button>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col text-center">
                    <button (click)="numPressed('7')" class="numpadButton">
                       7
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('8')" class="numpadButton">
                        8
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('9')" class="numpadButton">
                        9
                    </button>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col text-center">
                    <button (click)="clear()" class="cdButton">
                        Clear
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="numPressed('0')" class="numpadButton">
                        0
                    </button>
                </div>
                <div class="col text-center">
                    <button (click)="delete()" class="cdButton">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>